* {
    margin: 0;
}

#todoContainer {
    display: grid;
    grid-template-rows: 2fr 15fr 1fr;
    height: 100vh;
}

#header {
    display: flex;
    background-color: darkred;
    color: white;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}

#todoBody {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

#projectList {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 1rem;
}

.projectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

.projectItem:hover {
    background-color: rgb(177, 177, 177);
}

.projectItem:hover {
    cursor: pointer;
}

.projectIcon {
    background-size: 50px 10px;
}

#todoList {
    display: flex;
    flex-direction: column;
}

#footer {
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
}