* {
    margin: 0;
}

#appContainer {
    display: grid;
    grid-template-rows: 2fr 15fr 1fr;
    height: 100vh;
}

#header {
    display: flex;
    background-color: darkred;
    color: white;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}

#todoBody {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

#projectList {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 1rem;
}

.projectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
}

.projectItem:hover {
    background-color: rgb(177, 177, 177);
}

.projectItem:hover {
    cursor: pointer;
}

.projectIcon {
    background-size: 50px 10px;
}

#todoContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(240, 239, 239);
    height: 100%;
}

#todoListHeader {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

#todoList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todoItem {
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
}

#removeProject {
    background: none;
	color: inherit;
	border: none;
    border-radius: 5px;
	padding: 0.5rem;
	font: inherit;
    cursor: pointer;
	outline: inherit;
}

#removeProject:hover {
    background-color: darkred;
    color: white;
}

#footer {
    display: flex;
    background-color: gray;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#githubLogo {
    height: 1.5rem;
}